#wrap {
    margin: 10px 20px 0 0;
}

#wrap .notice {
    margin: 0;
}

#chart_div {
    margin-top: 1rem;
}

#data-input {
    h2 {
        margin-top:    0;
        margin-bottom: 0.5rem;
    }
}

#data-input,
#data-output {
    form {
        display: inline-block;

        + form {
            margin-left: 2rem;
        }
    }

    table {
        border-collapse: collapse;
        border-spacing:  0;
        border-width:    0;
    }

    th,
    td {
        padding: 0;
    }

    th {
        text-align: left;
    }

    table.add-data {
        th,
        td {
            padding: 0.25rem 1rem 0.25rem 0;
        }
    }

    table.data-input {
        th {
            padding: 0 0 0.25rem 0;
        }

        th,
        td {
            &.hide-type {
                padding:    0 0.5rem 0.25rem 0.5rem;
                text-align: center;
            }
        }
    }

    table.data-output {
        margin-top:  2rem;
        display:     block;
        overflow-x:  auto;
        white-space: nowrap;

        th,
        td {
            border-bottom: 1px solid #ccc;
            padding:       0.25rem 2rem 0.25rem 0;
        }

        th,
        td {
            &.diff {
                padding: 0.25rem 0.45rem;

                &.plus {
                    background: lightgreen;
                }

                &.minus {
                    background: #ffbfba;
                }
            }

            &.diff-percent,
            &.percent-total {
                padding:    0.25rem 0 0.25rem 1rem;
                text-align: right;
            }
        }

        tr.totalrow {
            td {
                border-bottom: 0;
            }
        }
    }

    table.data-types {
        th,
        td {
            border-bottom: 1px solid #ccc;
            padding:       0.25rem 1rem 0.25rem 0;
        }
    }

    table.settings {
        th,
        td {
            padding: 0.25rem 1rem 0.25rem 0;
        }
    }
}


.graphs-help {
    margin-top: 2rem;
}

.graphs-help h3 {
    font-size: 1.15rem;
    margin:    0 0 1rem 0;
}

.graphs-help ul li {
    margin: 0;
}

.graphs-help ul li.graph-info {
    ul {
        margin-top: 0.25rem;
    }

    + li {
        margin-top: 1rem;
    }
}

.graphs-help ul ul {
    list-style:   disc;
    padding-left: 1rem;
}

.graph-info__header {
    font-size:   1.1rem;
    font-weight: 500;
}

/* https://stackoverflow.com/questions/19206919/how-to-create-checkbox-inside-dropdown */
.dropdown-check-list .anchor:active:after {
    /*right: 8px;*/
    /*top:   21%;*/
}

.dropdown-check-list ul.items {
    padding: 0.25rem;
    display: none;
    margin:  0;
    border:  1px solid #ccc;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list .anchor {
    background:    white;
    border:        1px solid #8c8f94;
    border-radius: 3px;
    padding:       0.3rem 0.5rem;
}

td.asset-types {
    position: relative;
}

.dropdown-check-list.visible .items {
    display:    block;
    background: white;
    position:   absolute;
    top:        2.5rem;
    width:      300px;
    z-index:    20;
}
